.App {
  color: white;
  margin: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*font-family: 'Gotham';*/
}

.App a {
  text-decoration: none;
  color: white;
}

.App a:hover {
  color: lightblue;
}

.verseText {
/*  background-color: black;
  opacity: 0.5;*/
  /*border: 4px solid white;*/
  text-shadow: 1px 1px 10px #000;
  position: absolute;
  font-family: futura, book;
  /*font-weight: bold;*/
  font-size: 32px;
  text-align: center;
  left: 25%;
  right: 25%;
  top: 35%;
}

.liability {
  /*border: 4px solid lightblue;*/
  position: absolute;
  left: 7px;
  bottom: 7px;
  right: 84%;
  font-size: 11px;
}

.location {
  position: absolute;
  right: 7px;
  bottom: 7px;
  font-size: 11px;
}

.verseReference {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

